<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if title }}{{title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <link href="https://fonts.googleapis.com/css?family=Mukta|Saira+Condensed|Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <header>
      <h1>vii's Devlog @ DIVcompo 2020</h1>
      <p id="desc">{{ description }}</p>    
    </header>