{{>header}}
  <nav>
    <a class="back-to-index" href="/">&larr; Volver al inicio</a>
  </nav>
  <article>
    <h1>{{ title }}</h1>
    <time>{{ dateFormat date "D MMM YYYY, H:mm" }}</time>
    {{{ contents }}}
  </article>
  <section id="prevnext">
  {{#if next}}
    <a class="prev" href="{{next.path}}">Anterior: {{next.title}}</a>
  {{/if}}
  {{#if previous}}
    <a class="next" href="{{previous.path}}">Siguiente: {{previous.title}}</a>
  {{/if}}
  </section>
  <section id="comments">
    <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = '{{siteurl}}{{path}}';
        this.page.identifier = '{{path}}';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://divcompo-2020.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
{{>footer}}