{{>header}}

  <section>
    {{{ contents }}}
  </section>

  <h4>Último artículo publicado</h4>
  {{#with articles.[0] }}
    <article> 
      <h2>{{ title }}</h2>
      <time>{{ dateFormat date "D MMM YYYY, H:mm" }}</time>
      {{{ contents }}}
      <div class="see-comments"><a href="{{../siteurl}}{{ path }}#disqus_thread">Ver comentarios</a></div>
    </article>
  {{/with}}

  <h4>Artículos anteriores</h4>
  <ul class="recent">
    {{#each articles }}
      {{#if @index}}
        <li>
          <a class="title" href="{{ path }}">{{ title }}</a> &mdash;
          <span class="time">{{ dateFormat date "D MMM YYYY, H:mm" }}</span>
        </li>
      {{/if}}
    {{/each}}
    </ul>
  <script id="dsq-count-scr" src="//divcompo-2020.disqus.com/count.js" async></script>    
{{>footer}}